---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="About | Ali Hassan">
	<h1 class="heading">Hi I am Ali Hassan</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, harum, veniam. Corrupti voluptates delectus dolore, molestias asperiores deserunt exercitationem sit pariatur saepe quas odio culpa placeat quibusdam molestiae dicta dolorum.</p>
</MainLayout>