---
import MainLayout from "../layouts/MainLayout.astro"

const posts = await Astro.glob("../posts/*.md")
---

<MainLayout title="Ali Hassan's Blog">
	{posts.map((post, index) => {
		return <a class="post-title block" href={`/posts/${post.frontmatter.slug}`}>{index + 1}.  {post.frontmatter.title}</a>
	})}
</MainLayout>
