---
import MainLayout from "../layouts/MainLayout.astro";
---


<MainLayout title="Home | Ali Hassan">
	<h1 class="heading">Hello Astro</h1>

	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio quia iure temporibus! Doloremque a fuga ducimus consequatur aliquam hic deserunt!</p>	
</MainLayout>
