---

import Logo from "../images/logo.png"

---

<header >
	<p class="text-center py-1 bg-gray-900 font-semibold text-slate-300">Learning new Javascript Framework Astro</p>
	<nav class="flex justify-between items-center container py-2">
		<a href="/">
			<img class="w-12" src={Logo} alt="Logo">
		</a>
		<ul class="flex gap-6 font-semibold">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/posts">Posts</a></li>
			<li><a href="/users">Users</a></li>
		</ul>
	</nav>
</header>
