---
import Github from "../images/github.png";
import LinkedIn from "../images/linkedin.png";
import Twitter from "../images/twitter.png";
---

<header class="container py-8">
  <h2 class="text-center text-3xl text-slate-200 font-semibold mb-6">
    Ali Hassan's Blog
  </h2>
  <nav>
    <h3 class="text-center text-slate-200 text-lg mb-2">Follow me On 👇</h3>
    <ul class="flex justify-center flex-wrap">
      <li>
        <a href="https://www.linkedin.com/in/thealihassandev/" target="_blank" class="nav-link linkedin"
          ><img src={LinkedIn} alt="LinkedIn Icon" /> <span>LinkedIn</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/alihassan1177" class="nav-link github"
          ><img src={Github} alt="Github Icon" /><span>Github</span>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/alihassanDev" target="_blank" class="nav-link twitter"
          ><img src={Twitter} alt="Twitter Icon" /> <span>Twitter</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
